<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>__NAME__</string>
	<key>CFBundleIdentifier</key>
	<string>__BUNDLE_ID__</string>
	<key>CFBundleExecutable</key>
	<string>__NAME__</string>
	<key>CFBundleIconFile</key>
	<string>aero</string>
	<key>CFBundleIconName</key>
	<string>aero</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.4</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSCameraUsageDescription</key>
	<string>Websites you allow can use your camera for calls, recording, and identity checks.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Websites you allow can use your microphone for calls and recording.</string>
	<key>NSLocationUsageDescription</key>
	<string>Websites you allow can use your location for nearby and location-based results.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>ASWebAuthenticationSessionWebBrowserSupportCapabilities</key>
	<dict>
		<key>IsSupported</key>
		<true/>
		<key>EphemeralBrowserSessionIsSupported</key>
		<true/>
		<key>AdditionalHeaderFieldsAreSupported</key>
		<true/>
		<key>CallbackURLMatchingIsSupported</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Web site URL</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
				<string>https</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>HTML document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.html</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
